{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "pluginSearchDirs": false,
  "printWidth": 100,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}